<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<% let sendFormPath = editing ? "edit-product" : "add-product" %>
<% let sendFormBtn = editing ? "Update product" : "Add product" %>
<% let localProduct = {};
if (typeof product !== 'undefined') {
    localProduct = {
    	id: product._id,
        title: product.title,
        imageUrl: product.imageUrl,
        price: product.price,
        description: product.description
    }
} else {
    localProduct = {
    	id: null,
        title: "",
        imageUrl: "",
        price: "",
        description: ""
    }
}
%>

<main>

    <form class="product-form" action="/admin/<%= sendFormPath %>" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= localProduct.title %>" required="required">
        </div>
        <div class="form-control">
            <label for="imageUrl">Image URL</label>
            <input type="text" name="imageUrl" id="imageUrl" value="<%= localProduct.imageUrl %>" required="required">
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="text" name="price" id="price" step="0.01" value="<%= localProduct.price %>" required="required" pattern="\d+">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5" required="required"><%= localProduct.description %></textarea>
        </div>
        <input type="hidden" name="productId" value="<%= localProduct.id %>">

        <button class="btn" type="submit"><%= sendFormBtn %></button>
    </form>
</main>
<%- include('../includes/footer.ejs') %>