<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <% if (product != null) {%>
        <h1><%= product.title %></h1>
        <hr>

        <div class="product__image-detail">
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>

        <h2>$<%= product.price %></h2>
        <p><%= product.description %></p>
        <form action="/cart" method="POST">
            <button class="btn" type="submit">Add to cart</button>
            <input type="hidden" name="productId" value="<%= product.id %>">
        </form>
        <% } %>
    </main>
<%- include('../includes/footer.ejs') %>